body {
    width: 100%;
    height: 100%;
    font-family: $body-font-stack,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: $primary-dark;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $header-font-stack,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: $links-color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

hr {
    margin-top: 60px;
    margin-bottom: 60px;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

@media(min-width:767px) {
    p {
        margin: 0 0 15px;
        font-size: 25px;
        line-height: 1.6;
    }
}
