.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: $primary-dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    // font-size: 40px;
}

.intro .intro-body .intro-text {
    // font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        // font-size: 100px;
    }

    .intro .intro-body .intro-text {
        // font-size: 25px;
    }
}
