.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: $header-font-stack,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $primary-dark;

    .navbar-toggle {
        @include navbar-vertical-align(40px);
    }
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: inherit;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a.active,
.navbar-custom .nav li.active {
    background-color: inherit;
}

@media(min-width: $screen-md-min) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: $primary-dark;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

@media(min-width: $screen-lg-min) {
    .nav > li > a {
      padding: 15px 15px;
    }
}
