#intro {
  background-color: $01-color;
  color: #000;
}

#rates-services {
  background-color: $02-color;
  color: #000;

  &::before {
    background-image: url(#{$baseurl}/img/section-rates-services.jpg);
  }
}

#lessons {
  background-color: $03-color;

  &::before {
    background-image: url(#{$baseurl}/img/section-lessons.jpg);
  }
}

#music-samples {
  background-color: $04-color;
  color: #000;

  &::before {
    background-image: url(#{$baseurl}/img/section-music-samples.jpg);
  }
}


#contact-us {
  background-color: $contact-color;
  color: #FFF;

  &::before {
    background-image: url(#{$baseurl}/img/section-contact-us.jpg);
  }
}
