section {
  &.section-intro {
    background-color: $color-01;
    color: #000;
  }

  &.section-rates-services {
    background-color: $color-02;
    color: #000;

    hr {
      border-top: 1px solid #000;
    }

    &::before {
      background-image: url(#{$baseurl}/img/section-rates-services.jpg);
    }
  }

  &.section-lessons {
    background-color: $color-03;

    hr {
      border-top: 1px solid #FFF;
    }

    &::before {
      background-image: url(#{$baseurl}/img/section-lessons.jpg);
    }
  }

  &.section-music-samples {
    background-color: $color-04;
    color: #000;

    &::before {
      background-image: url(#{$baseurl}/img/section-music-samples.jpg);
    }
  }

  &.section-contact-us {
    background-color: $color-contact;
    color: #FFF;

    &::before {
      background-image: url(#{$baseurl}/img/section-contact-us.jpg);
    }
  }
}

.top-nav-collapse.navbar-custom .nav {

  // "First" navbar item selector
  li:nth-child(2) a:hover,
  li:nth-child(2) a.active,
  li:nth-child(2).active {
    background-color: $color-01;
  }

  // "Second" navbar item selector
  li:nth-child(3) a:hover,
  li:nth-child(3) a.active,
  li:nth-child(3).active {
    background-color: $color-02;
  }

  // "Third" navbar item selector
  li:nth-child(4) a:hover,
  li:nth-child(4) a.active,
  li:nth-child(4).active {
    background-color: $color-03;
  }

  // "Fourth" navbar item selector
  li:nth-child(5) a:hover,
  li:nth-child(5) a.active,
  li:nth-child(5).active {
    background-color: $color-04;
  }

}
