<!-- Contact Section -->
<section id="contact-us" class="content-section-with-image text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact</h2>
        <p>We will respond within 1 business day.</p>
        <ul class="list-inline banner-social-buttons">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
          </li>
          {% endfor %}
        </ul>
        <iframe src="https://docs.google.com/forms/d/1IpZAO8THXVPCEG-kLj5VRF2mf_Jddb_zV5kVdmBYVLw/viewform?embedded=true" width="90%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>
    </div>
  </div>
</section>
