$header-font-stack: Montserrat;
$body-font-stack: "futura-pt";

$01-color: #FED134;
$02-color: #00FFFF;
$03-color: #949494;
$04-color: #B1C5FF;
$contact-color: #000;
$links-color: #219ab3;

$baseurl: '';
